[submodule "booking-engine/vayada-booking-engine-backend"]
	path = booking-engine/vayada-booking-engine-backend
	url = https://github.com/FlamurMaliqi/vayada-booking-engine-backend.git
[submodule "booking-engine/vayada-booking-engine-frontend"]
	path = booking-engine/vayada-booking-engine-frontend
	url = https://github.com/FlamurMaliqi/vayada-booking-engine-frontend.git
[submodule "booking-engine/vayada-booking-engine-frontend-admin"]
	path = booking-engine/vayada-booking-engine-frontend-admin
	url = https://github.com/FlamurMaliqi/vayada-booking-engine-frontend-admin.git
[submodule "marketplace/vayada-creator-marketplace-backend"]
	path = marketplace/vayada-creator-marketplace-backend
	url = https://github.com/FlamurMaliqi/vayada-marketplace-backend.git
[submodule "marketplace/vayada-creator-marketplace-frontend"]
	path = marketplace/vayada-creator-marketplace-frontend
	url = https://github.com/FlamurMaliqi/vayada-marketplace-frontend.git
[submodule "marketplace/vayada-creator-marketplace-frontend-admin"]
	path = marketplace/vayada-creator-marketplace-frontend-admin
	url = https://github.com/FlamurMaliqi/vayada-marketplace-frontend-admin.git
[submodule "pms/vayada-pms-backend"]
	path = pms/vayada-pms-backend
	url = https://github.com/FlamurMaliqi/vayada-pms-backend.git
[submodule "pms/vayada-pms-frontend"]
	path = pms/vayada-pms-frontend
	url = https://github.com/FlamurMaliqi/vayada-pms-frontend.git
[submodule "affiliate/vayada-affiliate-dashboard"]
	path = affiliate/vayada-affiliate-dashboard
	url = https://github.com/FlamurMaliqi/vayada-affiliate-dashboard.git
[submodule "marketing/vayada-landing"]
	path = marketing/vayada-landing
	url = https://github.com/FlamurMaliqi/vayada-landing.git
